body {
    font-family: "Arial";
}

.main-imagepoop {
    border: solid black 4px;
    border-radius: 50%;
}

h1 {
    background-color: lightgrey;
    padding: 5px;
}

.section-titlepoop {
    text-transform: capitalize;
}